@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nunito+Sans:opsz,wght@6..12,200&family=Poppins:wght@400;500;600;700;800&family=Roboto:ital,wght@0,400;1,300;1,500;1,900&family=Rubik:wght@300;400;500;800&display=swap');
@media (max-width:740px) {
    .container-main {
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 10px;
    }
    .container-img {
        display: block;
        box-shadow: 9px 8px 9px rgb(80, 71, 71);
        width: 300px;
        height: 100px;
        margin: 0;
        padding: 10px;
    }
    .container-main-1 {
        flex-direction: column;
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
        padding: 0;
    }
    .container-main-2 {
        margin-top: 0;
    }
    .container-section {
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .container-derecho {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .container-izquierdo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
        margin: 0;
        padding: 0;
    }
    .ff3 {
        text-align: start;
    }
    .container-derecho img{
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 170px;
        margin-bottom: 10px;
        z-index: -3;
    }
    .container-3cuadros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cuadro-1, .cuadro-2, .cuadro-3 {
        margin-bottom: 15px;
    }
    .container-ul a {
        display: none;
    }
    .navbar {
        height: 150px;
    }
    
}

body {
    background-color: rgb(35, 32, 32);
}

* {
    font-family: 'Dancing Script', cursive;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
}
.container-header {
    height: 100%;
    background-color: rgb(14, 13, 13);
}
.navbar {
    margin: 0;
    padding: 30px;
    background-color: rgb(35, 32, 32);
    box-shadow: 8px 6px 8px rgb(52, 51, 51);
}
#navbarNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 150px;
}
.navbar-brand {
    font-size: 40px;
    font-weight: 400;
}
.div-1 {
    width: 180px;
}
.div-2 {
    font-family: Orbitron;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.div-4 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.container-main {
    background-color: rgb(14, 13, 13);
    height: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.ff1 {
    color: #FFF;
    font-size: 53px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
}
.ff2 {
    background: var(--2, linear-gradient(97deg, #F86CF8 12.04%,#64CEF5));
    background-clip: text;
    text-shadow: 3px 3px 6px rgb(234, 111, 234);
    font-size: 63px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
}
.ff3 {
    color: #FFF;
    font-size: 33px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
}
.ff4 {
    background: var(--2, linear-gradient(97deg, #F86CF8 12.04%,#64CEF5));
    background-clip: text;
    text-shadow: 3px 3px 6px rgb(234, 111, 234);
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
}
.ff5 {
    background: var(--2, linear-gradient(97deg, #F86CF8 12.04%,#64CEF5));
    background-clip: text;
    text-shadow: 3px 3px 6px rgb(234, 111, 234);
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
}
.container-main p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}
.boton-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}
.boton-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--3, linear-gradient(97deg, #D10ED1 12.04%, #10A3DA 81.84%));
    gap: 10px;
    box-shadow: 3px 3px 6px rgb(223, 58, 223);
    width: 173px;
    height: 54px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.boton-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-shadow: 3px 3px 6px rgb(245, 216, 245);
    width: 173px;
    height: 54px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.ppp {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    padding: 0;
    margin: 0;
}
.container-k {
    gap: 50px;
}
.container-k h4 {
    font-family: Orbitron;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}
.container-k p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}
.div-img {
    width: 566px;
    height: 568px;
    top: 165px;
    left: 1316px;
}
.div-img img {
    width: 640px;
    height: 702px;
}
.container-main-1 {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.columna-vacia, .columna-vacia-2 {
    width: 15%;
}
.container-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 14px;
    background-color: rgb(14, 13, 13);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 420px;
}
.container-derecho, .container-izquierdo {
    padding: 20px;
    height: 400px;
}
.container-izquierdo {
    align-items: center;
    text-align: start;
    margin-top: 80px;
}

.container-izquierdo p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.img1 {
    position: absolute;
    box-shadow: 3px 3px 6px rgb(234, 111, 234);
    width: 282px;
    height: 297px;
    top: -1px;
    left: 70px
}
.img2 {
    position: absolute;
    box-shadow: 3px 3px 6px rgb(234, 111, 234);
    width: 286px;
    height: 300px;
    top: 100px;
    left: 320px;
}
.container-main-2 {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: rgb(14, 13, 13);
}
.container-main-2 section {
    padding: 50px;
}
.container-main-2 span {
    color: #F86CF8;
}
.container-main-3 {
    padding: 20px 20px 30px 50px;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(14, 13, 13);
    
}
.container-3cuadros {
    display: flex;
    flex-wrap: nowrap;
}
.cuadro-1, .cuadro-2, .cuadro-3 {
    padding: 10px;
    width: 374px;
    height: 434px;
    box-shadow: 6px 8px 6px rgb(247, 202, 202);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.cuadro-1 h2, .cuadro-2 h2, .cuadro-3 h2 {
    font-size: 30px;
}
.botones {
    padding: 20px;
    gap: 10px;
}
.boton-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--3, linear-gradient(97deg, #D10ED1 12.04%, #10A3DA 81.84%));
    background-clip: text;
    box-shadow: 3px 3px 6px rgb(223, 58, 223);
    gap: 10px;
    width: 120px;
    height: 34px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.boton-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-shadow: 3px 3px 6px rgb(245, 216, 245);
    width: 120px;
    height: 34px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.ppb {
    color: #FFF;
    font-size: 15px;
    font-weight: 200;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    padding: 0;
    margin: 0;
}
.container-main-4 {
    background-color: rgb(14, 13, 13);
    height: 100%;
    padding: 20px 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.columna-imagen {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.columna-imagen, .img {
    width: 100%;
    height: 100%;
}
.img {
    box-shadow: 3px 3px 6px rgb(234, 111, 234);
}
.container-main-5 {
    background-color: #090823;
    height: 100%;
    padding: 20px 10px 50px 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.columna-uno {
    width: 424px;
    height: 176px;
    top: 104px;
    left: 149px;
    padding: 0;
    margin: 0;
}
.columna-uno span {
    font-size: 50px;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
    color: #64CEF5;
}
.columna-dos, .columna-tres {
    width: 180px;
    height: 260px;
    top: 104px;
    left: 689px
}
.columna-cuatro {
    line-height: 5.5;
}
